<div class="mt-4">
  <h3>Edit Customer</h3>
  <form [formGroup]="customerForm" (submit)="updateCustomer()" class="form-inline mb-4">

    <label class="sr-only" for="Name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="customer_name" placeholder="Customer name">
    </div>

    <label class="sr-only" for="Phone">Phone</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="phone" placeholder="Phone">
    </div>

    <label class="sr-only" for="Address">Address</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="city" placeholder="City">
    </div>

    <label class="sr-only" for="code">Code</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" formControlName="code" class="form-control" placeholder="Code..">
    </div>

    <label class="sr-only" for="code">Username</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" formControlName="username" class="form-control" placeholder="Username...">
    </div>

    <label class="sr-only" for="code">Email</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" formControlName="email" class="form-control" placeholder="Email...">
    </div>
    <label class="sr-only" for="code">Avatar</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" formControlName="avatar" class="form-control" placeholder="Avatar link...">
    </div>

    <label class="sr-only" for="district">District</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" formControlName="district" class="form-control" placeholder="District...">
    </div>

    <label class="sr-only" for="code">Latitute</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" formControlName="lat" class="form-control" placeholder="Latitute...">
    </div>

    <label class="sr-only" for="code">Longitute</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" formControlName="lng" class="form-control" placeholder="Longitute...">
    </div>

    <label class="sr-only" for="code">Sex</label>
    <div class="input-group mb-2 mr-sm-2">
      <select id="" formControlName="sex" class="form-control">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Update Customer</button>

  </form>
</div>