<div class="container add-patient">
  
   
    


    <form class="patient-list-tab">

      <div class="card">
        <div class="card-header">
              <h1>Add Patient</h1>
        </div>

        <div class="card-body">

          
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Card ID</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="">Date of Birth</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Status</label>
          <select name="" id="" class="form-control">
            <option value="1">Active</option>
            <option value="0">Inactive</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Sex</label>
          <select name="" id="" class="form-control">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
        </div>

      </div>

      <div class="card-footer">

        <div class="form-group">
          <button class="btn btn-success mr-4">Submit</button>
          <a class="btn btn-warning" routerLink="/patients">Come back</a>
        </div>
      </div>
      </div>

    </form>
  </div>